{% extends 'base/layout.html' %}
{% load static %}
{% block css %}
    <style>

        .card-body {
            text-align: center;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            margin-top: 10px;
        }

        /* Style the buttons inside the tab */
        .tab button {
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            margin-left: 200px;
            background-color: #F8F9FA;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
            border-bottom: 1px solid black;
        }

        .nav-link.active {

            border-bottom: 1px solid black;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
        }

        /* Fade in tabs */
        @-webkit-keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="tab">
            {#        <button class="tablinks btn  " onclick="openCity(event, 'All')">All Books</button>#}
            {#        <button class="tablinks btn " onclick="openCity(event, 'Rent')">Rent</button>#}
            {#        <button class="tablinks btn  " onclick="openCity(event, 'Buy')">Buy</button>#}
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link tablinks active" onclick="openCity(event, 'All')" href="#">ALL BOOKS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tablinks" onclick="openCity(event, 'Ebook')" href="#">EBOOKS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tablinks" onclick="openCity(event, 'Rent')" href="#">RENT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tablinks" onclick="openCity(event, 'Buy')" href="#">BUY</a>
                </li>

            </ul>


        </div>

        <div id="All" class="tabcontent active">
            <div class="row">
                {% for book in books %}
                    <div class="col-lg-2" style="margin-top: 20px; ">
                        <div class="card item">
                            <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap"
                                 width="130px"
                                 height="200px">
                            <div class="card-body">
                                {#                <h5 class="card-title">Before She Was Harriet</h5>#}
                                {#                                <a href="{% url 'book_details' book.pk %}" class="btn btn-primary" style="width: 100px;">Read</a>#}
                                {% if book.book_type == 'Ebook' %}
                                    <a class="btn btn-primary" style="width: 100px;"
                                       href="{% url 'book_details' book.pk %}">Read</a>
                                {% elif book.book_type == 'Printed book' and book.book_category == "For Rent" %}
                                    <a class="btn btn-primary" id="borrow" style="width: 100px;"
                                       href="{% url 'book_details' book.pk %}">Borrow</a>
                                {% else %}
                                    <a class="btn btn-primary" id="buy" style="width: 100px;"
                                       href="{% url 'book_details' book.pk %}">Buy</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>

        <div id="Ebook" class="tabcontent">
            <div class="row">
                {% for book in ebooks %}
                    <div class="col-lg-2" style="margin-top: 20px; ">
                        <div class="card item">
                            <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap"
                                 width="130px"
                                 height="200px">
                            <div class="card-body">
                                {#                <h5 class="card-title">Before She Was Harriet</h5>#}
                                <a href="{% url 'book_details' book.pk %}" class="btn btn-primary"
                                   style="width: 100px;">Read</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>


        <div id="Rent" class="tabcontent">
            <div class="row">
                {% for book in rents %}
                    <div class="col-lg-2" style="margin-top: 20px; ">
                        <div class="card item">
                            <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap"
                                 width="130px"
                                 height="200px">
                            <div class="card-body">
                                {#                <h5 class="card-title">Before She Was Harriet</h5>#}
                                <a href="{% url 'book_details' book.pk %}" class="btn btn-primary"
                                   style="width: 100px;">Borrow</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>

        <div id="Buy" class="tabcontent">
            <div class="row">
                {% for book in buys %}
                    <div class="col-lg-2" style="margin-top: 20px; ">
                        <div class="card item">
                            <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap"
                                 width="130px"
                                 height="200px">
                            <div class="card-body">
                                {#                <h5 class="card-title">Before She Was Harriet</h5>#}
                                <a href="{% url 'book_details' book.pk %}" class="btn btn-primary"
                                   style="width: 100px;">Buy</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>
        <div style="margin-top: 15px">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>




{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $('.tablinks.active').click();
        });
    </script>
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

{% endblock %}