{% extends 'base/layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
    <style>
        @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

        body {
            background-color: #E2DCC5;
        }

        img {
            border-radius: 3px;
        }

        fieldset, label {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 20px;
        }

        h1 {
            font-size: 1.5em;
            margin: 10px;
        }

        /****** Style Star Rating Widget *****/

        .rating {
            border: none;
            float: left;
        }

        .rating > input {
            display: none;
        }

        .rating > label:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        .rating > .half:before {
            content: "\f089";
            position: absolute;
        }

        .rating > label {
            color: #ddd;
            float: right;
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        .rating > input:checked ~ label, /* show gold star when clicked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label {
            color: #FFD700;
        }

        /* hover previous stars in list */

        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label {
            color: #FFED85;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-3" style="width: 200px; text-align: center;">
            <img src="{{ book.book_image.url }}" width="200px"
                 height="250px" alt="">
            <div style="margin: 5px 0 0 27px; background-color: white; width: 200px; height: 40px; border-radius: 5px; padding: 0 0 0 27px ;">
                <fieldset class="rating" >
                    <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5"
                                                                                   title="Awesome - 5 stars"></label>

                    <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                                   title="Pretty good - 4 stars"></label>

                    <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                                   title="Meh - 3 stars"></label>

                    <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                                   title="Kinda bad - 2 stars"></label>

                    <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                                   title="Sucks big time - 1 star"></label>

                </fieldset>
            </div>

            <div style="margin-top: 5px;">
                {% if book.book_type == 'Ebook' %}
                    <a  class="btn btn-primary" style="width: 200px;" href="{{ book.book_pdf.url }}">Read</a>
                {% elif book.book_type == 'Printed book' and book.book_category == "For Rent" %}
                    <a class="btn btn-primary" id="borrow" style="width: 200px;"
                       href="#">Borrow</a>
                {% else %}
                    <a class="btn btn-primary" id="buy" style="width: 200px;"
                       href="#">Buy</a>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6">

            <h4>{{ book.name }}</h4>

            <p>By {{ book.author }} <br>
                Published {{ book.date_published }} by {{ book.publisher }}
            </p>
            <p>Written in {{ book.language }}</p>
            <hr>
            <h3>Overview</h3>
            <p class="fr-view">
                {{ book.about|safe }}
            </p>
        </div>
        <div class="col-lg-3">
            <h3 style="text-align: center">You might also like</h3>
            {% for like in maylike %}
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-12" style="text-align: center;">
                        <a href="{% url 'book_details' like.pk %}"><img src="{{ like.book_image.url }}" width="200px"
                                                                        height="250px" alt=""></a>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-8">

            <h1>Reviews</h1>

            <div class="col-lg-12">
                <form action="{% url 'addreview' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="bookid" value="{{ book.pk }}">
                    {#                                <input type="text" value="{{ book.name }}" readonly>#}
                    {#                                <label for="review">Body</label><br>#}
                    <div class="form-group">
                        <label for="review" class="control-label ">Write a review</label>

                        <textarea class="form-control" rows="5" id="review" name="review" required></textarea>

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary">

                    </div>
                </form>
            </div>


            <br><br>

            {% for review in book.review_set.all %}
                <h6>{{ review.user.user.get_full_name }} at {{ review.date_added.date }}</h6>
                <p>{{ review.review }}</p>
            {% endfor %}

        </div>
    </div>
    <form action="{% url 'borrow_page' %}" id="borrow_form" method="post">
        {% csrf_token %}
        <input type="hidden" name="bookid" value="{{ book.pk }}">


        <div class="form-group submit">
            <input type="submit" value="Submit" class="btn btn-primary">

        </div>
    </form>
    <form action="{% url 'buy_page' %}" id="buy_form" method="post">
        {% csrf_token %}
        <input type="hidden" name="bookid" value="{{ book.pk }}">


        <div class="form-group submit">
            <input type="submit" value="Submit" class="btn btn-primary">

        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        $("#borrow").click(function () {
            $('#borrow_form').submit();
        });

 $("#buy").click(function () {
            $('#buy_form').submit();
        });

        $(function () {
            $('.submit').hide();
        });
    </script>

{% endblock %}