{% extends 'base/layout.html' %}
{% load static %}
{% block content %}
    <div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-body">
               <p>{{ book.uploaded_by.user.username}} has been notified that you are interested in {{ book.name }}. A response will be communicated shortly via email.</p>

            </div>
        </div>
    </div>
    </div>
{% endblock %}