{% extends 'base/layout.html' %}
{% load static %}
{% load library_extras %}
{% load humanize %}

{% block css %}
    <style>
        button.owl-next {
            position: absolute;
            bottom: 185px;
            right: -55px;
            font-size: 2.5em !important;
            background: #E2DCC5 !important;
            border-radius: 50% !important;
            width: 50px !important;
            height: 30px !important;
            line-height: 0 !important;
            padding: 0 0 0 0 !important;
        }

        button.owl-prev {
            position: absolute;
            bottom: 185px;
            left: -55px;
            font-size: 2.5em !important;
            background: #E2DCC5 !important;
            border-radius: 50% !important;
            width: 30px !important;
            height: 30px !important;
            line-height: 0 !important;
            padding: 0 0 3px 0 !important;
        }

        .owl-carousel {
            margin-bottom: 35px;
        }

        .sub-title {
            font-size: 0.875em;
            text-align: center;
            line-height: 1;
            margin: 0;
            margin-top: 5px;
        }

        .sub-count {
            text-align: center;
            font-size: .7em;
            line-height: 1;
            color: #666;
            padding: 0;
            margin: 0;
            margin-top: 5px;
            font-style: italic;
        }

        a:hover {
            text-decoration: none;
        }

        .card-body {
            text-align: center;
        }

        .genre button {
            bottom: 45px;
        }
    </style>
{% endblock %}
{% block content %}

    <a href="#"><h4>Browse By Genres</h4></a>
    <div class="owl-carousel genre owl-theme" style="margin-top: 20px; ">
        {% for book in genre %}
            <div class="card item">
                <a href="{% url 'genre_list' book.0 %}">
                    <div class="card-body" style="text-align: center;">
                        <i class="fas fa-book"></i>
                        <p class="sub-title">{{ book.0 }}  </p>
                        <p class="sub-count">{{ book.0|get_genre_count|intcomma }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}


    </div>

    <a href="#"><h4>Books We Love</h4></a>
    <div class="owl-carousel owl-theme" style="margin-top: 20px; ">
        {% for book in books %}
            <div class="card item">
                <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap" width="130px"
                     height="200px">
                <div class="card-body">
{#                    <h5 class="card-title">{{ book.name|slice:"0:10" }}...</h5>#}
                    <a href="{% url 'book_details' book.pk %}" class="btn btn-primary" style="width: 100px;">Read</a>

                </div>
            </div>
        {% endfor %}

    </div>


    <a href="#"><h4>Ebooks</h4></a>
    <div class="owl-carousel owl-theme" style="margin-top: 20px; ">
        {% for book in ebooks %}
            <div class="card item">
                <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap" width="130px"
                     height="200px">
                <div class="card-body">
                    {#                <h5 class="card-title">Before She Was Harriet</h5>#}
                    <a href="{% url 'book_details' book.pk %}" class="btn btn-primary" style="width: 100px;">Read</a>

                </div>
            </div>
        {% endfor %}


    </div>


    <a href="#"><h4>Buy</h4></a>
    <div class="owl-carousel owl-theme" style="margin-top: 20px; ">
        {% for book in buy %}
            <div class="card item">
                <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap" width="130px"
                     height="200px">
                <div class="card-body">
                    {#                <h5 class="card-title">Before She Was Harriet</h5>#}
                    <a href="{% url 'book_details' book.pk %}" class="btn btn-primary" style="width: 100px;">Buy</a>

                </div>
            </div>
        {% endfor %}


    </div>


    <a href="#"><h4>Borrow</h4></a>
    <div class="owl-carousel owl-theme" style="margin-top: 20px; ">
        {% for book in borrow %}
            <div class="card item">
                <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap" width="130px"
                     height="200px">
                <div class="card-body">
                    {#                <h5 class="card-title">Before She Was Harriet</h5>#}
                    <a href="{% url 'book_details' book.pk %}" class="btn btn-primary" style="width: 100px;">Borrow</a>

                </div>
            </div>
        {% endfor %}


    </div>
{% endblock %}


{% block scripts %}
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            items: 6,
            checkVisibility: false,
            checkVisible: false,
            dots: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        });


    </script>
{% endblock %}
