{% extends 'base/layout.html' %}
{% load static %}

{% block content %}
    <div class="card" style="padding: 0 10px 15px 10px;">
        <div class="row">
            {% if books %}
                {% for book in books %}
                    <div class="col-lg-2" style="margin-top: 20px; ">
                        <div class="card item">
                            <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap"
                                 width="130px"
                                 height="200px">
                            <div class="card-body">
                                {#                <h5 class="card-title">Before She Was Harriet</h5>#}
{#                                <a href="{% url 'book_details' book.pk %}" class="btn btn-primary"#}
{#                                   style="width: 100px;">Read </a>#}
                                {% if book.book_type == 'Ebook' %}
                                    <a class="btn btn-primary" style="width: 100px;"
                                       href="{% url 'book_details' book.pk %}">Read</a>
                                {% elif book.book_type == 'Printed book' and book.book_category == "For Rent" %}
                                    <a class="btn btn-primary" id="borrow" style="width: 100px;"
                                       href="{% url 'book_details' book.pk %}">Borrow</a>
                                {% else %}
                                    <a class="btn btn-primary" id="buy" style="width: 100px;"
                                       href="{% url 'book_details' book.pk %}">Buy</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card-body">
                    <h4>NO RESULTS</h4>
                    <hr>
                    <p>Please check that the book is spelled correctly.</p>
                <p></p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}