{% extends 'base/layout.html' %}
{% load static %}
{#<form method="post">{% csrf_token %}#}
{#    <p>Are you sure you want to delete "{{ object }}"?</p>#}
{#    <input type="submit" value="Confirm">#}
{#</form>#}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <br>
                    <h4 class="title text-center" style="color: #007bff;">Delete Book</h4>
                </div>
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                        <div><p>Are you sure you want to delete "{{ object }}"?</p></div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-8">
                                <button class="btn btn-success" type="submit">Confirm</button>
                            </div>
                        </div>
                        {#                        <input type="submit" value="Confirm">#}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}