{% extends 'base/layout.html' %}
{% load static %}

{% block css %}
    <style>
        #settings-list {
            list-style: none;

        }

        .item {
            padding-bottom: 15px;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <br>
                    {#                    <h4 class="title text-center" style="color: #007bff;">Add Book</h4>#}
                </div>
                <div class="content">
                    <ul id="settings-list">
                        <a href="{% url 'change_password' request.user.pk  %}">
                            <li class="item">Change Password</li>
                        </a>
                        <a href="{% url 'update_email' request.user.pk %}">
                            <li class="item">Update Email</li>
                        </a>
                        <a href="{% url 'update_username' request.user.pk %}">
                            <li class="item">Change Screen name</li>
                        </a>
                        <a href="{% url 'update_profile' request.user.pk %}">
                            <li class="item">Update Profile</li>
                        </a>
                        <a href="{% url 'delete_account' request.user.pk %}">
                            <li class="item">Delete Account</li>
                        </a>

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}