{% extends 'base/layout.html' %}
{% load static %}


{% block css %}
    <style>

    </style>
{% endblock %}

{% block content %}
    {% if messages %}
        <div class="row">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <br>
                    <h4 class="title text-center" style="color: #007bff;">Sign In</h4>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <div class="content">
                    <form method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id }}" class="control-label col-sm-2">{{ field.label }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-8">
                                <button class="btn btn-success" type="submit">Sign In</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('.errorlist li').addClass('text-danger');
    </script>
{% endblock %}