{% extends 'base/layout.html' %}
{% load static %}
{% block css %}
    <style>
        /* Style the tab */
        .tab {
            overflow: hidden;

        }

        /* Style the buttons inside the tab */
        .tab button {
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            margin-left: 200px;
            background-color: #F8F9FA;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
            border-bottom: 1px solid black;
        }

        .nav-link.active {

            border-bottom: 1px solid black;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
        }

        /* Fade in tabs */
        @-webkit-keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        a {
            text-decoration: none;
        }

        .table {
            width: 75%;

        }

        #profile-pic {
            border-radius: 50%;
            height: 150px;
            width: 150px;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="card">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-4">
                <div style="padding: 20px 0 0 50px;">
                    <img src="

                            {% if user.picture %}{{ user.picture.url }}{% else %}{% static 'assets/images/download.jpg' %}{% endif %}"
                         id="profile-pic" alt="">
                </div>
            </div>
            <div class="col-lg-8" style="padding: 20px 0 0 50px;">
                <h3>{{ user.user.first_name }} {{ user.user.last_name }}</h3>
                <p>Joined {{ user.user.date_joined.date }}</p>
                <a href="{% url 'account' %}" class="btn btn-primary pull-left">Settings</a>
                <a href="{% url 'update_profile' request.user.pk %}" class="btn btn-primary pull-left">Update
                    Profile</a>
                {#{{ user.phone_number }}{{ user.user.email }}#}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" style="padding: 20px 0 0 50px; margin-top: 48px;">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td><a href="{% url 'queue_list' %}">Approve Requests</a></td>
                    </tr>
                    {#                    <tr>#}
                    {#                        <td><a href="">Uploaded Books</a> </td>#}
                    {#                    </tr>#}
                    {#                    <tr>#}
                    {#                        <td><a href="">Edit Books</a> </td>#}
                    {#                    </tr>#}
                    <tr>
                        <td><a href="{% url 'my-books' %}">Delete Books</a></td>
                    </tr>

                    </tbody>

                </table>
            </div>
            <div class="col-lg-8">
                <div class="tab">
                    {#                    <button class="tablinks active " onclick="openCity(event, 'All')">All Books</button>#}
                    {#                    <button class="tablinks " onclick="openCity(event, 'Rent')">Rent</button>#}
                    {#                    <button class="tablinks" onclick="openCity(event, 'Buy')">Buy</button>#}
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link tablinks active" data-toggle="tab" onclick="openCity(event, 'All')"
                               href="#">UPLOADED</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tablinks" onclick="openCity(event, 'Rent')" href="#">BORROWED</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tablinks" onclick="openCity(event, 'Buy')" href="#">BOUGHT</a>
                        </li>

                    </ul>
                </div>

                <div id="All" class="tabcontent active">
                    <div class="row">
                        {% if allBooks %}
                            {% for book in allBooks %}
                                <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 20px; ">
                                    <div class="card item">
                                        <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap"
                                             width="130px"
                                             height="200px">
                                        <div class="card-body">
                                            {#                                        <a href="{% url 'book_details' book.pk %}"><h5#}
                                            {#                                                class="card-title">{{ book.name|slice:"0:12" }}...</h5></a>#}
                                            <a href="{% url 'update_book' book.pk %}" class="btn btn-primary">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="card-body">
                                <p style="text-align: center">You have not uploaded any books.</p>

                            </div>
                        {% endif %}

                    </div>

                </div>

                <div id="Rent" class="tabcontent">
                    <div class="row">
                        {% if rented_books %}
                            {% for book in rented_books %}
                                <div class="col-lg-4" style="margin-top: 20px; ">
                                    <div class="card item">
                                        <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap"
                                             width="130px"
                                             height="200px">
                                        <div class="card-body">
                                            {#                                        <a href="{% url 'book_details' book.pk %}"><h5#}
                                            {#                                                class="card-title">{{ book.name|slice:"0:10" }}</h5></a>#}
                                            <a href="{% url 'book_details' book.pk %}" class="btn btn-primary"
                                               style="width: 100px;">View </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="card-body">
                                <p style="text-align: center">You have not borrowed any books yet.</p>

                            </div>
                        {% endif %}
                    </div>

                </div>

                <div id="Buy" class="tabcontent">
                    <div class="row">
                        {% if purchased_books %}
                            {% for book in purchased_books %}
                                <div class="col-lg-4" style="margin-top: 20px; ">
                                    <div class="card item">
                                        <img class="card-img-top" src="{{ book.book_image.url }}" alt="Card image cap"
                                             width="130px"
                                             height="200px">
                                        <div class="card-body">
                                            {#                                        <a href="{% url 'book_details' book.pk %}"><h5#}
                                            {#                                                class="card-title">{{ book.name|slice:"0:10" }}</h5></a>#}
                                            <a href="{% url 'book_details' book.pk %}" class="btn btn-primary"
                                               style="width: 100px;">View </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="card-body">
                                <p style="text-align: center">You have not bought any books yet.</p>

                            </div>
                        {% endif %}
                    </div>

                </div>

                <script>
                    function openCity(evt, cityName) {
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }
                        tablinks = document.getElementsByClassName("tablinks");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                        }
                        document.getElementById(cityName).style.display = "block";
                        evt.currentTarget.className += " active";
                    }
                </script>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $('.tablinks.active').click();

            $('.nav-item.active').click();
        });

    </script>
{% endblock %}