{% extends 'base/layout.html' %}
{% load static %}
{#{% block css %}#}
{#      <!-- Compiled and minified CSS -->#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
{##}
{#    <!-- Compiled and minified JavaScript -->#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>#}
{#{% endblock %}#}


{% block content %}

    {#    <ul>#}
    {#        {% for list in c %}#}
    {#            <li>#}
    {##}
    {#                {{ list.user.user.get_full_name }} <a href="javascript:void(0)" id="" class="btn btn-primary"#}
    {#                                                      onclick="approve('{{ list.user.user.pk }}', '{{ book.pk }}')">Approve</a>#}
    {##}
    {#            </li>#}
    {#        {% endfor %}#}
    {#    </ul>#}
    {% if c %}

        <ul class="list-group">
            {% for list in c %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ list.user.user.get_full_name }}
                    <span class="badge "><a href="javascript:void(0)" id="" class="btn btn-primary"
                                            onclick="approve('{{ list.user.user.pk }}', '{{ book.pk }}')">Approve</a></span>
                </li>
            {% endfor %}
        </ul>
    {% else %}

        <p>There are no requests</p>
    {% endif %}
    <form id="approve_form" action="{% url 'approve' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="user-id" name="user">
        <input type="hidden" id="book-id" name="book">
    </form>


{% endblock %}
{% block scripts %}
    <script>


        function approve(user, book) {
            console.log(book);
            $('#user-id').val(user);
            $('#book-id').val(book);
            $('#approve_form').submit();
        }

    </script>
{% endblock %}