{% extends 'base/layout.html' %}
{% load static %}

{% block content %}
    <div class="card" style="padding: 0 10px 15px 10px;">
        <div class="row">
            {% if queuebooks %}
                {% for list in queuebooks %}
                    <div class="col-lg-2" style="margin-top: 20px; ">
                        <div class="card item">
                            <img class="card-img-top" src="{{ list.book.book_image.url }}" alt="Card image cap"
                                 width="130px"
                                 height="200px">
                            <div class="card-body">
                                {#                <h5 class="card-title">Before She Was Harriet</h5>#}
                                <a href="{% url 'queue_details' list.book.pk %}" class="btn btn-primary"
                                   style="width: 100px;">View </a>

                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <div class="card-body">
                    <p>There are no requests</p>

                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}