{% extends 'base/layout.html' %}
{% load static %}

{% block css %}
    <style>


    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <br>
                    <h4 class="title text-center" style="color: #007bff;">Account Settings</h4>
                </div>

                <div class="content">
                    <div class="container">
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-lg-4">
                                <h5>Change Password</h5>
                                <form>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">New Password</label>
                                        <input type="password" class="form-control" id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Enter new password">

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Confirm Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                               placeholder="Confirm password">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-lg-4">
                                <h5>Change Email</h5>
                                <form>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">New Email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Enter new email">

                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-lg-4">
                                <h5>Change Screen name</h5>
                                <form>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">New Screen name</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Enter new screen name">

                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-lg-5">
                                <h5>Delete Account</h5>
                                <form>
                                    {% csrf_token %}
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Are you sure you want to
                                            delete your account ?</label>
                                    </div>
                                        <small id="emailHelp" class="form-text text-muted">This action cannot be reversed</small>

                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}