{% extends 'base/layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <link href="{% static 'assets/css/froala_style.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/froala_editor.pkgd.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/awesomplete.css' %}">
    <script src="{% static 'assets/js/awesomplete.js' %}"></script>
{% endblock %}
{% block content %}
    {#<form method="post">{% csrf_token %}#}
    {#    {{ form.as_p }}#}
    {#    <input type="submit" value="Update">#}
    {#</form>#}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <br>
                    <h4 class="title text-center" style="color: #007bff;">Update Email</h4>
                </div>
                <div class="content">
                    <form id="page-form" method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
{#                    <div class="form-group">#}
{#                        <label for=""  class="control-label col-sm-2">Enter password</label>#}
{#                        <div  class="col-sm-8">#}
{#                            <input type="text" class="form-control" placeholder="Enter password">#}
{#                        </div>#}
{#                    </div>#}
                        {% for field in form %}
                            <div class="form-group" id="div_{{ field.name }}">
                                <label for="id_{{ field.name }}"
                                       class="control-label col-sm-2">{{ field.label }}</label>
                                <div class="col-sm-8">
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div><p id="pdf_error"></p></div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-8">
                                <button class="btn btn-success" id="save" type="submit">Save</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        $('.errorlist li').addClass('text-danger');
    </script>
    {#    <script>#}
    {#        $('#id_uploaded_by').val({{ user }});#}
    {#    </script>#}

    <!-- Include external JS libs. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    {#    <script#}
    {#            src="https://code.jquery.com/jquery-1.12.4.min.js"#}
    {#            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="#}
    {#            crossorigin="anonymous"></script>#}
    <script type="text/javascript" src="{% static 'assets/js/froala_editor.pkgd.min.js' %}"></script>

    <!-- Initialize the editor. -->
    <script>
        $(function () {
            $('textarea').froalaEditor();
        });

        $('.form-group .col-sm-8 input').addClass('form-control');
        $('.form-group .col-sm-8 textarea').addClass('form-control');

        $('#picture-clear_id').hide();

    </script>

{% endblock %}