{% load staticfiles %}
{% load library_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E Library</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/owl.carousel.min.css" %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {#    <link rel="stylesheet" type="text/css" href="{% static "assets/css/owl.theme.default.min.css" %}">#}

    {% block css %}{% endblock %}

    <style>
        .navbar {
            margin-bottom: 40px;
        }

        body {
            background-color: #E2DCC5;
        }
    </style>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
         style="margin-top: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ">
        <a class="navbar-brand" href="{% url 'index' %}">Elibrary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {#                <li class="nav-item dropdown  ">#}
                {#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
                {#                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                {#                        My Books#}
                {#                    </a>#}
                {#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                {#                        <a class="dropdown-item" href="#">All Books</a>#}
                {#                        <div class="dropdown-divider"></div>#}
                {#                        <a class="dropdown-item" href="#">Borrowed Books</a>#}
                {#                        <a class="dropdown-item" href="#">Purchased Books</a>#}
                {#                        <div class="dropdown-divider"></div>#}
                {#                        <a class="dropdown-item" href="#">Uploaded Books</a>#}
                {##}
                {#                    </div>#}
                {#                </li>#}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book_list' %}">All Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_book' %}">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my-books' %}">My Books</a>
                </li>
                {% get_button %}


                {#                <li class="nav-item dropdown">#}
                {#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
                {#                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                {#                        More#}
                {#                    </a>#}
                {#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                {#                        <a class="dropdown-item" href="#">Add a Book</a>#}
                {#                        <a class="dropdown-item" href="#">Random Book</a>#}
                {#                        <a class="dropdown-item" href="#">Best Rated</a>#}
                {#                    </div>#}
                {#                </li>#}

            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <input class="form-control mr-sm-2" name="search-input" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                {% if not request.user.is_authenticated %}

                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="btn btn-light">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register_user' %}" class="btn btn-danger">Sign Up</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown  ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hi {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile' request.user.pk %}">My Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account' %}">Settings</a>
                            {#                        <div class="dropdown-divider"></div>#}
                            {#                        <a class="dropdown-item" href="#">Books</a>#}

                        </div>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                    </li>
                {% endif %}
            </ul>


        </div>
    </nav>
    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>