{% if pk %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'book_details' pk %}">Random Book</a>
    </li>
{% endif %}
{#<a class="btn btn-primary" href="{% url 'book_details' pk %}">random book</a>#}